body{
    background-color: #dfdfdf;
    margin: 0;
    padding: 0 160px 0 160px;
    margin: 2rem 0;
    font-family: 'Oswald', sans-serif;
}

header {
    margin: 0 10rem 5rem 10rem;
}


.notifications{
    padding: 0.5rem 2rem;
    font-size: 0.9rem;
    border-radius: 1rem;
    position: absolute;
    background-color: #ffffff;
    text-align: center;
    top: 5px;
    left: 50%;
    transform: translateX(-50%)

}

.notification__count {
    right: -28px;
    padding: 3px 7px 3px 7px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 9px;
    position: relative;
    font-size: 8px;
    background-color: coral;
    top: -7px;
}

.notifications #new {
    font-weight: bold;
}

.notifications i{
    margin-right: 10px;
}



.documents__menu{
    padding-top: 2rem;
}

.documents__title{   
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
}

.documents__filters{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.documents__views{
    display: flex;
    font-size: 1,5rem;
}
.documents__views > div{
    margin: 6px;
}

.view-icon {
    cursor: pointer; 
}

.view-grid-icon {
    flex: 1;
    color: grey;
}

.view-grid-icon:hover{
    background-color: grey;
}

.view-list-icon {
    flex: 1;
    color: black;
}

.view-list-icon:hover{
    
    background-color: grey;
}




.documents__container{
    margin: 0 10rem 5rem 10rem;

    
}



.documents__header{
    display: flex;
    font-size: 1rem;
    color: #767676;

}

.documents__header__name{
    flex: 1;
    padding-left: 1rem;
}

.document__new {
    display: flex;
    width: 100%;
    padding: 1rem;
    justify-content: center !important;
    align-items: center;
    margin-top: 0.5rem;
    background-color: #f5f5f5e1 !important;
    height: 3.5rem;
}

.document__new__grid {
    background-color: #F5F5F5;
    display: flex;
    width: 33%;
    min-height: 2rem;
    margin: 0.5rem 2rem 0 0;
    align-items: center;
    justify-content: center;

}

.document__new__grid span {
    cursor: pointer;
    font-size: 1rem;
    color: #1a8ed7;
}

.document__new span {
    cursor: pointer;
    font-size: 1rem;
    color: #1a8ed7;
}



.documents__container__list{
    display: flex;
    flex-wrap: wrap;
}

.layout__list{
    display: flex;
    width: 100%;
    margin-top: 0.5rem;
    background-color: #FFFFFF;
    padding: 1rem;
    min-height: 3rem;
}




.documents__container__grid{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
 
}

.layout__grid{
    background-color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 33%;
    min-height: 20rem;
    align-items: center;
    padding-top: 1rem;
    


}

.document__content__name {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

.document__content__name .subtext   {
    font-size: 10px;
    color: #767676;
}


.document__content__contributors {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

.document__content__attachments {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}


.modalContainer {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modalContainer .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #1a8ed7;
    border-radius: 20px;
    width: 30%;
}

.modalContainer .modal-content label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.modalContainer .modal-content h2 {
    text-align: center;
    margin-top: 0;
}

.modalContainer .modal-content .close {
    text-align: end;
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
}

.modalContainer .modal-content .submit {
    margin-top: 2rem;
    border-radius: 2rem;
}

.modalContainer .close:hover{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.form-new-document {
    display: flex;
    flex-direction: column;
    align-items: center;
}

